
@font-face {
  font-family: 'FuturaStd-LightOblique';
  src: url('FuturaStd-LightOblique.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-LightOblique';
  src:  url('FuturaStd-LightOblique.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAEEMABAAAAAAccgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAABAvAAAADQA
AAA0P2JPukZGVE0AAEDwAAAAGgAAABw70TYeR0RFRgAAPDwAAABAAAAASgUtA+pHUE9TAAA+MAAA
AooAAAZk/0MblUdTVUIAADx8AAABsQAAA75do2j4T1MvMgAAAegAAABcAAAAYHthEExjbWFwAAAE
vAAAAgQAAAKCdtKVTWdhc3AAADw0AAAACAAAAAj//wADZ2x5ZgAACMAAAC6sAABUQIphnLloZWFk
AAABbAAAADUAAAA2BStiDmhoZWEAAAGkAAAAIgAAACQIQwQ3aG10eAAAAkQAAAJ1AAAD/BMSVy1s
b2NhAAAGwAAAAgAAAAIADPoicG1heHAAAAHIAAAAHgAAACABSABKbmFtZQAAN2wAAALqAAAF4qno
/KBwb3N0AAA6WAAAAdsAAAJx3Egv2HjaY2BkYGBgZM85JCfGHc9v85WBm/kFUIThwtvuCTD6f+C/
Syz3mE8zMDFwADEQAAB6ow6YAAAAeNpjYGRgYLb8H8hwgmXl/8B/t1juMaQwCDAgg/8AtOAIgAAA
eNpjYGRgYPjP4M7AzgACTEDMyAAScwDzGQAkrgGTAAB42mNgYpzLqMPAysDD1MUU8f8LgzeIZjBn
jGMwYpRiYGDiZmFiYmJhYmZuYGBY78Cg4MUABY4uTq4MjAwKv5mYLf8HMpxgPs2oBxRmBMkxnmP6
BKQUGFgA4C8PK3jabZJPSFRRFMa/c+4UGC7a5KaFltBCq5mYNO1/OJOGPOmJTJGSQiGFAxZISoo0
TblKCjIIAvuH/TOMkVCscOFGCVskBGWURUZiES5cBEH23ddLBmvgx/c4c+69537f1SNoBH/ikEKy
G22ShSsaRy1p0Kuo0bMI4z36MYdqkqcNmOZ/1ezfjmEEqc16BittTeOygRolLSSXbCaVJJ+ctth+
u5bfh4hDCuQrOkwOjmoCy7QArn5CnV6AKz/JM7imiPOMw8UEmVxo1WLWS1lPIMOUU2Ook9e+znB9
DkpkBKe0C3HNR1vARVK+I1ODaNUiZMp6rOHMtz2No17mF75JMYY0xNlDcOSdp1H5hSjv7OgWZMks
HMziMAlLL79HWX/FXtY1FxH2ryUR+udIMzbiJSo5U42kUKFzqJCnCMg4dsgHGJ7ryjnMUjN4/gHf
e+vHXd+/KtJue6id0oMU/dkn+9EinYixdsx679XG8Egu4TJrhdLEM5twgnfp4dmrWRvl3tckH5tY
/yFlOM71teYWnpNu0k7vg57v/8H0UZmFl0MaXg5pMKudf3NYCmfYRi30skiHWdjMlH75vv+DcZFn
s7A5pOPnYCkjVfQ/upjDUuy7zEW2l0U6zMJmZtXuxfcUxGfsDdzn3Cmus2+IOS6+GebGvcLyAPfI
Y8/3fgzQ6zcSQZ/swVYZRK8M444JYpfnfz1KZZ45zSAlBt0+Iemg/iHEPZ+QRjLAvmRgBWdbhRip
RWLBZd3V5SgxD9Fr9w1ko1vLcVBfYJ05iS6dxEV7R9trs9aPuGlu4Lx8QVJHkNAJvo0prpnCdZ3G
kLzl+xyE8xuvsOLJAAAAeNpjYGBgZoBgGQZGIMnAWAPkMYL5LIwJQDqEwYGBlUGEoY7hP6MhoxNj
MGMiYwVjHeMkpuNMJ5nuMq9k3sN8QEFEQUpBTkFJQU3BQMFKwUVhjaKwopKimqKeEpMSmxK/kpCS
qJKUkpyStpKHUoJSquqp30z//wNNV2BYADTVkTGIMQFoai3Q1GNAU29ATRVWkFCQUVAAm2qJxVRB
oKmScFNTgKYy/v////H/Q/8n/m/6X/w//X/gf9//Vv/Y/7H9/fFX96/0X4kHxx4cfnDowcEH+x5s
fbD2wZIHtvev3z95/9j9/ffe3Ht57+G9B/fu3bt978a9M/c23Jt5b9ptI9Y/kJChPmBkY4AbzcgE
JJjQFQCjhoWVjZ2Dk4ubh5ePX0BQSFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTS1tHV0/fwNDI2MTU
zNzC0sraxtbO3sHRydnF1c3dw9PL28fXzz8gMCg4JDQsPCIyKjomNi4+IZGhrb2ze/KMeYsXLVm2
dPnK1avWrF2/bsPGzVu3bNuxfc/uvfseFqWkZj6uWFiQ/bos62fHrG/Fv36nl7/7+OHG95yaayt2
NSbnfT3z431u7ZOkptbpR4/dvHXv/u07O/8cPPni5bPnf/89qrz74GlLT3NvV/+EiX1TpzFMmTN3
9qGzVwovXLxUdfXyOQApUdCPAAAAKAAoACgAKABCAFYAiADmATQBnAGqAcYB4AH+AhYCJAIyAkQC
VAKWAqYC1gMUAzYDZAOYA6oD7AQcBD4EXARwBIYEmgTuBVAFagW6BegGEgYuBkYGfAaWBqQGxAbi
BvQHEgcqB1gHhAe8B+4IMghGCH4IkgiuCMoI4gj2CQoJGgkuCUIJUAleCZIJxgnsCiAKTgp6CsAK
5AsCCyALOgtIC4ALpAvODAIMNgxaDJgMsAzeDPANCg0iDTYNSg2ADY4Nwg3uDe4ODA5CDpYO1g8A
DxIPfA+mD/YQKBBEEFYQZBC2EMQQ6hEKETQRcBF+EawRyhHgEe4R/hIoEkISdhK0ExITZBOGE6gT
zBQAFDwUdBScFNIU9hUaFUAVfhWUFaoVwhX0FiwWXhaUFsoXAhdKF5oXthf4GDgYeBi6GRYZNhli
GaYZ4BoaGlgaphr8G04bsBveHBQcShyCHNQc6h0AHRgdSh2MHcwd/B4sHmAepB7wHxwfXB+SH8gg
AiBUIHAgpiDeIOwhCiEkIW4hvCIKIlIijiKsIsojDiMgIzIjQCNWI3AjlCOyI9Qj6iQiJFAkeiSI
JJYkpCSyJMAk1iTsJQAlGCU6JVAlhCXwJgImEiYiJmQmpibSJwonRCeEJ6YnvifcJ+on+igQKDAo
lCjIKSQpRiliKX4pqCnsKiB42r28eWBTVfY4/u59SV72pUmTtmnTJmmTNlvTpEna0n1foPteaKGF
tixCWQuCgCKLbC6I66gIuKDzcVxGHEdlUJRRdNRx/IzLODMuOO4fR0Ydleble+99SZtCW/SP3w99
j5Dce8+55579nPcoPrWCouAAfJqiKQEloqSUgqK8KqOKVhvVOhUwSoBKvQJ8+9MD7K9ffIDdD1of
ePEB+HSwHOyhQuybIcAG/5cKAQcLqRCF/kBqU+h7kAnPUQwloSi/RysHJos/oPbSt5liBYkmjSBl
vnt+dZwpLs7UBweCd+A5ByEELWgOjWZRai9jDqDrEXeWfj+64Ll///vf3Np96LYF/p7SU8kUBRgz
GkiugJdcXoZc6Hv0tReWCzfXuKp3VrgrNgi3ujcKryr1lO4q9ZQtF67zwl1Zu4DGfRb9cR92v4n+
uA8fPkwhDJaGdsK59CJKSMVQAQSFLgQBvwta1SYBIzAAnZZWW6yWQCEoAl4G/ZuxWGmtTstoGDlQ
AHPABawBAwA3eovni/kqh7HI4esU8Q3pyUx+oCHeL5WtbFQ5Va5apc1YkdmkqBYD6bamGKeqfqHC
IWsBS9gTigWFSS6Lphvo2gMmX5KKZleAbrvWU9u4WLB4qSDHZmgUsm86Jb4OPr9hk2LlCthepy6Y
TfGpuaGv4aM0jc5RQxmodMpBUTEeLYOPACGMN6D1evwB/4Vf4u/UOmD9amutWLxoa51Y/Ep3HcPk
OJzoXn3Bl921DJNmCJ5OhD+2lhS1thaV2Ioc9sJCu5O9LvJFoRN/4YB1qrFgDD47mvKGvoH30BSl
pPxUOaIrISfUFfICfovaKjBjbHgBlyAbIeXF+NGMLqBjdAB/wnijcwC/SS8T0EKpji/x6M1qWuC4
vO6plS3zZQKbsy3TTSsYmUBIQ9Gi/LxSMT/J57TcMGLa1MP+1Z/uKk7jSypLMpZW+OFfijPU6Ql2
CWPUpKRqrYGg84q9a5st1e78xER+gixeGaeJk+a3Necl+zJTdOxizfpbwdEUXXL2LFNJr9tlRfsB
1KMQUizhWcKxr3KcSpHfekINII2WYgkAOrRPxCSY6oCfssBi1mdo+Gr1HFqa8N7X/3w/fsV/1m0E
cm6eLdRAfcvNUwe0aCJkrGjik7ZYIZrhMS40pcFzCev+s2kd+0N3/Cdvf47mnAWHYBXCAy0BEPdj
kjFWxhqwBsCV6iz9TczNNY6SJebl1+jg3Jtu8mTaR5M2bUpcb8/EeCJ56ocUwTMsOViaQG2aO+1T
5lNyB3GffupG/2P88kPd1OtULd4zgmO9B61VK/9QQnDPBBnUt6A9Qg//CeYEaHdy+xoNfU+9RFVj
6Y5ohINhbcBpAjRGGVoF/07n4vkAsSJ8JiXYZqJzY8bq1ET2e0Lfw91wjIqlMtAIjwEigaPNJhf0
Bwpp6CmEiG9c0GySQyym4Df+tqxkvtjfvLE80J5pgOhjy/rFqwbLnSIaxqVVuXKHyh2MRJoCx7Ia
Fw1lFW7bUJ/dMrzYXXjVmtqgtWLZGn9aZ09tZtXSFW7vhsVkHwBtB/wN0ZqP/kYKhzaDo6OG60bd
8AVnUI72UIEQXYFwTET0MTJGUEgj5jYjTjf7I1wNmSfAIMNmglqboSyFL+2qqV8ndquyrcNZvSMK
pszvdzqBz2qoLUquWbhoTk92mn1Lb+ag34vpuB7RoBOtb8HnhfUSt3h4aYDUEbpjSfKGBd0CFjPl
SyTiuoLiHrlbs66jaYFMVJfj84oUN/Z2LJa7eTXlVaMSaRtY5YQd5QXt9SUdi1Y25fXqYgfze7cu
bytrGaqq7sL0N6NbD+JNMbYQaRyrGAPAS6vNgAHfLGGW6NxIVgBME+yvFLBXgaed114rgKPBh8EJ
tlpA+CCbnOE5pL8R/Rg/hzXCF2tMDl+ziVEb4baxPn3ysitU6sdXly/TZ+q6fH03KuQruvMKbwTJ
8IVXhAeXrb65dFaM07elr+tyEyhG+DWjtZcg2qioJMxBjI4sj2QI0wMZoPDyWN2BP5leht7sZVep
lJ2do8uvVsnLbu2+SS6/rLsH3+FY0hdQc8eyhU3Nty7vrGe3bu3pvvLK7p6tZA/20A/w/TAPGANG
xKlbWT8DzcFlRswGgiTEwZcjXLoQLkLECeisKJMcEAUGCSoufHbcgSEE6ciPFnB87xpte2XFWu3m
3y6Xx2532oTyHb/ulwtrslfGyi8vWqyZXYxu9WBl/+7+/t3sJ+u6duXH9frbVq1q8/fGzbqmCw50
b+7q2tyNz+tyhOf1CAcllUBRfKQPOBULOKrAcb0PdOY/wWxMDNUTy1deFSMrL/jtzYjYvz0oVwgx
IX617LJbb1vZ3AC2bO3u3oouzhYjmQZC8DaSadWEVI8blnH57jFpaIg+QJqTdHB/nEoVhy68BtIn
QI7WoCkZp1Em5mPdctf4XKxl4OrxmfgcukPn4Q7wE/JaKDWfSQukMQfAMYZNE0EzA6i3XF/4/unC
MOZQB+AIuIzzLQBjDPDRBUeELCUEH5P7ZW73A26i33xozQFuzYAToJH8fPA128qAv4uCf8t46xXX
P31f4DV3oPPlI9q6kC2jgJeTOSSPxJgRHtOZx+0YkkkeobUgTCRwg1s4VFVaL5a0V5qMWfE6nqgw
L6eD4QMXT7K+prFVJp3fnqDP0MbSjK+//M4wJUFmxdy24pIqlUikTbAn5TbW+FNibdrKnkUNDQ2x
AmFMrFnnKih/glOo5IwWhr6nCxGeUqoYySx2WcZFAGmvsI7ASjPiGUS2AiOiOcE1YMQ1T1Mlz/LU
HpAxLlCkddymotMK9svE5prB3N3/0mof2Nl+R3ZOzomRQ08kqK56ZuH1D2rVD7fOEpZWF+WKY44N
z34W1DoOJM9+rCWzBMzLZJ9OcB5ryV9SmfHnvbtfrixtWnD28PCjg7/bs+ahrKyW4pHT3B6QnMFN
tIR4p1SakTEDtVkCoYx9fG8WeOJkVk3Xqz/8QEvGvgNpYBl7I/E1mtCcDCSjMuQFZSH+oIn3gBWA
1WKmzWq0Ox2WAqQv0c4lwJsHC/n4d/TzU97V6cbCuCY5YzA5VqifHb05uyrBr1D1lVdI5I0112e2
0HpBnFAjVSmERVJ5rqkHrGBPALk8q81eGxPHXg/PqfT+wcVZ8uHq+fl++AL7FgA0TyDkpze1WeMI
785H56JC55KAOdIFOI7hVGBYX6UiFGmV2Hxl5d4vtbFtttGS0l9lSbbsufN0fDyQ3V2+Ed5W6it9
be/2hZm5JZ7S3o/vOHQ2m9AL7/0etHcphWB5x7eKDtPq9ZA9uoAdNI3u6t6cNaTXby/f19PUcWjZ
al1cr31kdgc8l+EfefDoSK7d2TOw7+aFrlSEL17TjdbEfoKRRpYNX0hPZ7Av2oGbYV8PgByGvWUU
DKPt/p+Tvc+JBnPzwA/oo4jMQzYD0d4IvglR9h+ZHwvdo8DNjb8cD0fj+xBdmhBdUvB4OWfMsLZE
7KiL0ElLdmGEClAoyQ4UHWkcOjxHqdpxesnpRQ7rru7dX8XqHtg3uqY/nj0HljZs8OYVI6Za8tvh
h5PntL26a++ZltrNVBg3eI7bEwp1vBgzzBmnwRmPe9RdyPoRfm7wKCgOysF2diMaSeZQP4R9PjT4
h1H3KDwXlOPfQhtD/QCtiLUhWi3KrCHP5HX3WlnV7Ix8SbrImaS3xEp4aFpiU48zTZ+YqrWlJYTx
uTOMD/CKALKqGJ9nwR3FbDuoLWJf0/kxRjeA+exBdgMY1rC/JmQL07mas0lqTGb1DyMnmX9j3GY5
I2NEoU/o9UiO0Ppoo4BGZwHUQE3XGiB7w13wrAskHQNXWeFIcBReE7yOlgSb4UNj33Hro7kr0blg
DUqjqXjeyo3Bc0PuDVAxDM+NfQfvDq6HY8GF8AbMg5i/lxO9E098NXSSSMlYYlJ1XBDF2XqYOny0
Xqna+cLwXac8QHLrvs+1ivLr5u79XKd9EI4NPzaM/j8LCs86z+ztuXPey3v2nonwdyyR7TjuFCIc
LhhncIsd/D7XPbrdX6efpVBWFa6s72jPzpHIPOZ5DWCQvQ1LaG7/gmy3M8NR0WA3UNE4Kwj36Sa8
BbSoNRKgQM566mDullVq3b3XIeHUPnjtihV3fBPYtPvwyXjVjhcW33UqPu7KZuC7d8nl1/7p5T37
X2w4xb7c2P3h3YsfG/rwzhuvWEpF5BSE0D6U2FtEOo3mFBOOMBHfh7diwXsBwhOBZ+LQhnqtrvzY
cpVi130FPa58KZOUalyYDBaxt+MLnqNjVP5l84cyzfbZjjpkJgFVhuxUDtqTDesZbjsGmAwu9LpQ
dGvJBGHnAOZY7PPz+8Q8hSMx+eo5CsXh3jnDCqeisbRui5SnsloShLwrKuWyK9pye+ANiV2t+YmO
VJWyLtA3d0tnrbqoZrg2MdMUJ+fB6qz21qW5mH/WoQ17SU6AwtyDHEcGLB5xj5xiwHEGvhCchTwn
Jxq3DOH7LBqHTwALEQwjinQAkSltWEkWQlhT7a4VSs1JjjWz8gaT9bS01l3NCITy2B5X5mCyNkkM
bOBF1pblrzHYXE67bYUP/JXNcXqrdCar1aSrJvZ+U+gTeAeCh+y9HnjRf/SvL4egws2uvhHJziZ4
9dh3SGIAtS30Ce9pOg7rMT1AUuPFUvDYcrDjIRBwszsfZVdficavhw8hmdmFhOHJYBWZJ0X7bgjr
TdqrJ86yBEm2bq/v8vd9oRuyr/oyG1wJVrJPg3L2WnYLaGMfxHhtRPPuRvOEZB6BZwaeJ3yHQYKP
fdbrBqXgYeRhb2Yb2RNUGM4Rjr4k7kB+6RD4AxP8Cuaz8xnwrdOJCIzGGUM+0M+N4/SEl3l/5+XC
B25+QAj/MHbMSz/jJfJ+BK03n4vF1AHAHLGAm9Npa8zYu2pOl0Sto1OTQChwJLzOLXSHd6zMy40b
BE44yNEXRQlexOQHM4Ez+y7XDcAJXmBngVvIuNCXoW3g09DjGB4f+9Tvs1Ih+PYKD17jSWgBVfAM
h4uOebK4PgM+oT5A/McKxC8O5D9KkJ2novIblgDCyBxxy7CC8AZA+ZwNUllzU9sauaztYI1TBpOX
+oYGlcobBv2dWigFD62rbxkd7Wy+LIX1tNg9e4eHdmbaG4mszkFwfIgeBE5aVCTBILb0Rvw8zKnI
9/Q0j8qkLfVta2Wyxhu2OSuhecg/iODcOOTrjoGylNGWhrUjba1rU+hctsKeuXNoeK/H3kLohfYD
vkH7iZ2QV6x+mAkn7BtxTl/TlVJZT+Ngk6i1b3ClSnnXol5wV37dusbG9S0FxXsHF+2hIrQZnApn
/gWUQVsAQkKVFkIhKnQBaSqd21IwXTB9UsYpA54a+2MEDkQ4q7E3k2bkTkAXBYFvJJAhZFcoO5uz
+4ym9NHyhYuUihsHBvvZRWAhbK2oHP2o/bJctza/ZN+igX37C0r7+jA95qDbKroSr6wmesOLlSJx
BkikrwBe5pkyZ5lX4DVK4zKqYmMYnlwqSLTECvkpawTgKDsXHLW91mjMYTIACvvdJsNpG8JZy/4I
vYRvHBfyDfI6BOMRdMBfBKKIhbmoLpqLKsXJqfXre1eInMLu6oWzvDEiaFmc3T+kVN6ycKlvMk9V
l3ZldC2ZW9leUbAqNyNr/8JFe7obw3t8CZ2TmvgNXhK1or2ieNBsUgDz684KmNPb5lU4nA4+cLp3
pqQ6EePMaV4wn/0M6GzlGWfOkvPuxQSD13OxFKaWfzyWerPGWZOGw6hEHFCBV1kPePXURDAFKS/y
laabu8a5JnpuMBW+FzWXw/8pwmdoZsDLqM1WhLY62PX3vA/fnXXSkOLcRucG//z8i+xPnyT8ic4N
z6GCYf2CoAW34TFjf0TfkN/gcXQ2KIRRM5xs6SJE8WfjBEHkAwZzSgRjK9IcBZLsBc0uucuZyUu3
rdPbnE6+3bY6Md1ZA17NS0l1pLf2dbD/AOlpsyxH2e9BUlqJ/WEWvBrB/yXCvxjeheRXn5JcRH60
ZnU0+fE6kCpHcpCO1hFTWuzzaCNso4tiL9AzOJpydHBgnUJ5pLvpKpl0XmPbDplsPnh7zyt79g0s
3G9b19y4blVr22rORzCx52D2VPotjZmsdbBLtpLwZHPDqEzWFKLGZfj6oUBHLMxxrgEPbehsXrqq
sWUDFuJ9w0M7Mu3sYfgexh3BmU6Pqi/Uo1VRcA6sceYg/RaI0m9RYIKpoNeeuX1o8T6i4DhadyM4
mgitdVjL4fxu+CzTq3RxBoVSb49TC/gApGFa51cit1mfUpCcLOR9yZ2ZC+nJtWgda5RfQ0ecmkhU
a3XRHNJgrU2Za8jh8dOLClMZ8UBR3my+S95urxTSooQ4jSHFpuAJ27JT88F+TbY9yWDR6fNdRU2l
OfLefIcmOVYilCqSbYneUuxGUc3oFg9Xc/zO6SScOX2OU0MJzoSmiN655x4bGj8X4fo3hDaO9YhL
g9QLcmj8YY+GxAfgIcRdTKwyZ263RcKj+Q5nhgBkZacHkpUCJK5fJJs8MYWFMdn6VBDLnnfVuROy
s61o7frQJ+A7tDby+/VIodGblr7vYt/fiaZsA1ew8eATbgydjT5h34XnBRK4aeijhe+52A8XfrAN
DdwObmSXgY1o8LXsSjSMyDQP3f6N1kV7DFi9OrRBndnKmD/Z7V/3iP/Vg75tp33fvvvUU+9+++ab
ZHwB4p9YNB77A8TPAea/3pi57T8utt0lRH5XLzgcxHEkkneYyo2L+CmLwSjD2sAz7CkBuN1mQ2Qj
8YYP4JjQgG0+Tlug6J1B4ogrLAZ0IfbEKQjgtzQxdhujV1S3MvPlSRKHA5h1EgOTZWdas+SJAj0V
cujd6Q931UBX4++rSvT8+MqaJ90pDrq68+EMD8H9c/YdoKHXcXlrlflzm41ed34gEjP5gAfhgTOK
pLyDrEPAg9EpAgS+OcChAzyMzS5IlNe0MgukBonTjvFIkvczrR6FnkkAdofem/FwRw3taHyypjKe
n1Ba9ftGF6ztfDjdjeB0UL+Hi0AhjgTUHp2BRpZHh9mEsLa1kDlvrRaZ1fEiX46zY05aaXlqssfg
AElMokyvSQB5qTy1SNiou8xisaTqgIFJEMYwAqw/upHOkyE5EWG9PpFb0yG+fXc8t+Zc4F4A3g6r
9C3BO+AA0T33UQrYCv9F6bjdW6y0H/GBgCtxhctfWloth1rYKs5uKppbCUWNTbHO2I4BuWJ3n9qp
bniuqHpEWwtz8isF7EphXUE+b+uVol3d8/eK166h2TqwV7z6htVhvwc2ozglB/GPFalMbHYDXiuB
g7WcOZJVM9A6nHlGEZgBYiKRFBX6rUuT1JBaLQGbmJFZsQqB9JrmlnlKt6SiLH+RmDHzE2Qq/i5m
Cy0uEzOlHmVhbpqhzZ5aXZ7kEVuT0kCgOMm5216a0bRsbXNZR1e+q0qcl+SOdRrL82ioVzbH2fMN
SZgmrZQHjkILimpTiTfq9+ASFYkIGavAhMsuFuwzYCeCJFctB2zmrvursgyudKm8xDT+D5m09M9d
u6XSofv3KhRD4FyqLS/PlprePLuhIT38ubV2drMDrm5rXr++mbMHgNqMkDiJ+BFbGCv2u3FsgB15
hsutmAOgKfluZsfVeXcCTd6/djCHcl5hXnG4Ha8woLTOCXLYnWAD+6Kzzsl+AWKd5Jw/D3lRNJ8U
qb2qzLFYCjLQHzqJHXiUXYTG7AsVwVJ0PhJc4Zjk/3oZwYS+JTWJqEMLK2YdCtuQimfC1ioAGvxz
haIyf2CeSFi+2w1FzsLcJhFf6U42z6mSimpzXWaRdGR2Vw7jjt3orxfxxMoMbaJEkJJukzGqyxfG
SFfWdxYpbq/3+xsb/f76e2VFBYWBZEeKXKqvnzOrRxtXFahr6Zy3q8Qfb9XGCcU8KNGmlzhW5NhW
zm5o6+Bs6yOwGTwND6M96bDURZCLMqvo8/sqNeIAlRL7Py9HfYaH45TKOJ1KpYv8TfKONaHv6QZE
J+wDoACTj5NX/tQULeRZo8sP3mhQ5om8lh9cu/jwbFUCYEDxCQ/74y37PtZq7923/6xOey+Y41at
regbUCh3LKjqBG5Q7q4blkrn1LjbxMOPLT704YfsybPu0/v3vfDCvv2ngby8ecv8/k315Q7/QG31
cIDb83pkiR4j55g0Y7yEzbzOVc0wnixfjZDJXexIEkJNhamsTCSeVzYnCQrhu6UOZ2mp21mYyH7h
STC0FhY2+d0YRjt1MzgAPkM2iVQ/kUjo+OQOeP3G0V/Hsz+Sv0Dxfv2xY/r95I55e5gaIHl6ZMvS
Asgw0FBrYt1CSNkG3nWz31+ixsibRHszzvpOQ301MmVmhqSNGEEaupOkvR3MQPvggsLugWR32ZNN
+aIY9rMW4JXaVXoZFOR7rpiK+LNOnToF7ssNjDgApEWKeGVaAie/v4FrwSeI5zD+yP4dB1kM+xo8
7MR0OwBeB39A+OPaPUWFq/NeDxM+JVwfekkzuKlWLBoqLKhwVgmZbJezRu6DRzd1dhYWdNmKnK7C
ou4ivJYf3RaTuq5icmWXxpmXJoPb8KnwU3L3IgILQfHJk270P3sSl0GwjwM84DjCJY7Q2RhALsp4
HTNcVrv/HwL2jTeTTRk8JsftrWJMYpOvqqBWJFkEWk1P6o2z4uw+vzNgcM/OKe3Ea44AB7gXrZmG
MYrU+mYsXYoFjhJGkJnRqTLJZuf4ihmBO81k5ov6CnIqhSbocmQiDvVDmSkrI9VZn51f7jbnyGUF
qTlzSr1WR8BmJzXTeyByu7n8AeZGYMw7YIZn1Nfj/JgexT1h30yNkyERf0wdcdSQa13tXONM5QN3
JvHGMiKOmqlYCJHX895ZZ3cZ9sYAP+ymOSzcWf8xVA/XcnV5nVqAzMIswOlomu2Y3SAzvPwCk77X
vXfu3keRSzTS8Jxz7Bp6dOwaMvd26i3qK8Tromir/eREFJYxHoABKitUQ70T+hLvD4vZO9vNa2z7
1NeRdX5A57h0Ur26fLamr8oEXzexuGa6GO3+CNEHOhKzMFMGLYmlDWLx4tLiepF4OM9dzzC5bk8T
I8yHYy0FhS1ts/LbTGVOR0mRK7OE9OjcDO6IyH8RQILPcPe+6waM6/+Huz+6f0L6keyeCX1NN9I8
NAdzf/w4tjpgja40B8wKAEzcDsxJwT8mwfJSfqnMJGODAPQIutP5HwCyNfBGzFgwZrWpuZkHNrOH
zv+Xx/Wg3IngrCJwDDi+DEOZhsNpBD0MDWz7B5994y8pRhsPbR5zu9TIcfugjeCBgbL/Nj2ZmMLx
fU4S4vuyDtgZE+5/4VGbEez1CDaun/uo3Mk1dLKznyUVaQgr2n/RtpH7/HOEBXyD0V0TRRhw6/Ti
818Oe0hlsm+Ah5AfaUeYUwEOPfl4Yw5OuXs1HKKRIqhJMMG4h7lyp6a9ypaRrReMFztpKS52JvTh
WqdOw2N8/RXXjHuld1XMbdtarZLIk9ypUaXOOyOVzsz8CiCeyEPQ4Trhy6ROKIuqFOKk4aRq4YPF
9RnRFUN4gGQTZ1oDK45JawA10iKTFrkXa5SJNZ4gayguwMM6GZP+2zfYO1dNWiZ9yZKkOXMm1jlC
1kmMXsdKLLQ24v4ihpm06Aa9IjMh3pYlMWkSJD59TGesYRIEi1afptZkaPWWdMKX0XBiKWM0pGmc
okngbldpIl6R/uWoz5Ngbr7IW+JNojXp2RiHGxNpGoxSQpNgvldtl85CV6c6haZ1GnKffBjeaq+3
WqLXqBPxFakj048gXaigYsKwjDqjOnxJIGTYZ67xg/tAjZh9qQJkStk/t4EcCXugpuP0Dz/Ac06u
rokADLB3cPWimnAN1zBjFRcgpTxjJZd9Dansqcq5QTmnx7malxvRirPnURVYrFenqMJ+hZPk45XY
02H+nmkdzOAXr7MS28rxdd7hWHx8nSfQOqrJ66RxTH7xSuwZwusTi/VwjE6H1zpCbJD5AqymY8CL
1w9Ow4YTAB+5iAe5GlwBogcX+yDjjOmJq7rxmICkshsmHje2KXos3ioe24CJRMaGCcSN3YDogzsx
x9e1kpUHODqQ8dE0AFgGaXQu+vCMafaO18iYbrNk1UemCE0QToXhvgBS3yTVH3q8H8BM4zxWdK/A
N/b/Yf4nMNEX8N/CJqbJE9UzgAj7lZO9P9wjEJwFtjtBcaR1gNAA14zRnhiS+QpXjdMuVl5RhWR2
/cW6a3JxuStaedFczRadCa4zJ81QaSZiMkO1+Xf4uKesOH82bht+NiwsSjPAasTsMiWssbB8RWA9
QWAlzwArLG4zQGNZjt+mBLg5wn8cvCMEnmMGeJngYtszA/DPpzjOKRHZdIFNisYnDcdy01N7OhUx
A1ovTic+U+L25kXiBKhZiMGvCvfNIt5KIxEu34oiR/MJIIhng0+bT7DnEwD1D9OHH5r+8X7KBx+k
4HP1o33dSvooFDiDFABcTCoCnJUDAc5mcEklvF0rcwo6m69E2MfCfcE32q9EG9CMnR1uj4sHkkM3
zF8Sv7QzDu/y5nmLbwYfdJzZexUYZA2dL++5mk3pHrnhrrMDPQlzRw6iXS3q4fQAqbEjPk7BGFyi
yk5jublkpf0kkp5LVdvhMxE9+ovgY1m6JPw8JFGXhP96RDdz8J9A8C0/a//Wn0GB80TILolDc0Te
OByOIBwcOOd5KSym4/FL4vXsNJx+SUzvn9qGkL4EdHZC3HEw3pmgxmF1VHfCWXweUR0K9MvRdnGM
2KAE0pvGjPfu2AETmOjeaRp1x7f5axNJ986qtmRLR7svRyL1mOY1wHOHws07p/+T4ahoyjDgulLo
J2iiK3FnuHeiSqxluHoBDqS4bmlrpGkah3dzyrIEWQZ5hr+zok7CzLKDhiZ5zO9WMQtuUSiWLmBy
m0TCWdnlqXGyheCo7enujNx5Fa46BdQd7By5W2KT7+jt3yq2gfIcb7Hb2BTcgeWb9CPAM6SOZrpk
RwK2SpfqSngHy9bUnQnENP1imPisLgGzBZ/f1DCJiYrAPE5gpl4SJmelLgWV/fL2DTYkRFMD3jwe
F3GwDxPYnkvCvtBi4WLBpTAZGzdbsfGS7ESly4ZEcWq0JgyXRoPsVjRuNtIbfInTmEayL8kV06Sl
p8HyYhM2jivHN+k/g5KW8Xg+MNGxfgk8b6u2C/goUuMLujQpAhypCXTTcZY3NdWLLkmiJVGfruf8
IBuyl23gbRQjaqgiHBtwOZqIA0CEma8L18Cj0tdExIkK0HGE5dpSwBmwELaXVo6+VTAkEtgKLKbK
Ar6oGbxhcqwtzp+vgHHrS2uXSKQ758zNUhS2lSwQNnYXt0pN64sWLVSyKyQtDd4FQFqyYP4Ct9+S
pVRnmX1ZixJyigt8ubm1ldU1WZ0jNpelrCCv8tqhppW5VLgPpybc0xM/XVcPjULEaTp7tqPY8ILu
niDLhYVhWYDoDNVcFDpD9w3JgszcgbMdqZqLunDAMGe3fwkski2ZGRaQIB1zMbCNxFBEYB0nsFJm
hFUEiIWeGVot0SwXgQuGdQovDO8wgWfBsjATJaezxpeg7jQiezERWqa2vbi/R0ny2FGxKunswSaC
9PR8FvGx8NjS6LFYA+OxC7BqJ2PHIja5Go2di2h9QayKR/dxGpmMH48VWtH4PlLDuGSsitdInU5V
kVXfnHqvFaTfLp+cBn4SDjvExI5HBNwFSK1VHaWy3korzzmmOdTZoom958W1SsXRwXkliuLyuzQH
011RrTa0weDwdhibez7asv2a/QP911U2ba5uNtVZ2ecm997gXpUvCU9Yp+4MClgvNi1TdQvVTmVO
LuwgmmRIiLyRfiJ0hrielTBtRxH2UKfrKtqFGeOiziIg4vyGn7k+9hemWR9iZrp4/UTOR+DWP07W
T5x2fY7ZpoPwHMeAF8G4Myy5E3Q6TODYpoUzpR8wDdQHpzqwi3D41aQT403Cw0S5pt/xdDZ/ulOc
ToAuwujbKWvSkWc8cW+fDldkjAxv3JRPJOl7GEgx7Fvj+ff549WmT93um8KJdnA6knGnqWS033rw
PollzROxbFpULEtIzsWymOTMLlCaWYu2JgGb2KedVWh7Uja+wiVXHlnYnVujq8qUK48OdudWLgNa
x7rmiufZL9yrWmvYD/NLOxbuDxQlFRb3Du7Jz+fkk/RVIf7l8q/TdVYR+Zihu+ogpzyn7rAC/xfu
M/55sEgcNAMsPqd8p4YFAVHIEVjHOcs3476sM+7sdER5T7O3bVEyxME8HLF+00OdjndnwGPP9AZg
GszemYKPIddjhs6AvFcg0mWGrf94pxmYjQg83m5Gv40JGu6hjPRBR/u4OHK9oHt7Ug8l+3yO8yFn
1aQ+yonmRvYwe5hXxZZGOikJHTkcDyMc1ThvF8FyOpdhHPOnp6HRxGYenoImANt56k3waqSPFttb
zq7iXgk0oJU8J4NiYqYI5xgCChSzM0053cLugNuzX7jff5IB/blZuaCPfa4rq4t9IPy8diXOa3E9
vdFz5xa2ClsKnbnoXgZ2+p1+sJ293ef0sV3c8zO8f5BnnxEtjOHowRougqD4IZzVRxeVgg+BpDdw
oA5DyTD/T0trr3YNJuCKyOJ7k2EyGGZwjh/3R5Acfxn7+f9pJSa7dV3ptaOXabXP9S7P866859BH
K+c9Hy7NwNde3lOxNdOVvWTgmr3jtoF+HPneBi6LyHl1YafOGh3eRDt41mjz9zi7UtXVsKLCZF1X
Xjogt24rX7Reqbx3sHxpjHF9+fB8dgj0Y/9u7cdtV8tlCxpatstk8z5qXL1Ul19aV1BQt2fR4N6a
gqKqvUXItetb216/dk1z0yjmZ/JsDv0EslnuX/B0TgB30gR+yTM6Ki4B/DOe1Hl76dLE2bMxbri/
9jdIB1kp58/qsOWw+tl9tuW3XY7TZZfqtv0yjA8dzjsdoYQoDkyJzjxNp4+islHd0+XAojNUR6b2
Q8lzNeiMGPJ8crhj1Uo2O+n5mj5CY/KUzTEOacj1uiIaTjF3Us9rOiEG6Xx9hZsLKG9oDTxGVxIv
Ahdq5CKkiwPck4/RT0Hg5mk+A06sUa6+GsoYuVil1OkMytQMhSnZodbFXVehLK/VaSzFKQZFXIIy
XiOXCaQQ/MvJXs1YYsxqg1IjYVQ2eXxyBbjd+deyeJciA30hS5ZbBFgP3A8zwdNoD3zu2Rsrcz8x
KnD2uO0A1G/RmBe5MYBjgxfJjuBt4eObse8JUMdhDvgz8ZsotRdv0YsdkuMOcX1Dkl3es6QGHi4o
8OTgNCn1DmwGGSS/MqlbBQinbM3jzvAhmIjimzMoulFHd9NMJDG+niJJAc9ckI4AVF7IS/0dradE
p+mNnRTD+2+1twt5piRNuiol1p7LiCDMdScZpA6R31aA8X4Q1oI3SCxBqaeIGk5P4XDC2kn+JaTu
hRbwQSSmw3YvDbsbJuxTgEhL0wHiQwCcK6GT4XfEL/ONN2TKAROL363DvdCGy0Po0L+/LyiMSXh/
776b49RXzH5MMMbr3KcRqbMXlW45oY1pquSdF1jo3OMjR868ccvapzy0JdH9h405q/oLn92z9vnM
RMv/x31UVWjzR6GV9LyaaYHObEEiIICM2R8TMDFWv9cIb+nPUQodck3uFwlDaOGBhAELk70AaTCK
vWuJL/FysGQz+2xZPfBuURriw32E0BbuI0T86AffMqyUdBIC6hGQQf9q4rffwbNMMDH8251QCrKQ
jcO/IVZ/yT6aCKWyjyQX/Eb6zAT4xzH8I6DcoW7q+Yn3ptw68d4USOb9lsxjuGoS6ZWcjWZ/EVn+
YwLiorFkZBjSFxFo42MRTFBFYDIc1AjkL8PQP8YYAOr3oXrYE35G0TveR+wFB93JjzOPX+a+DN3h
uT86g43wYfwM4YrwePX4+EhzoTdqXjm6TG5T+BOez7Y633rLCX6N1zhOPQMzoR9nHKhxiQQlh7ql
sisOzZVJoX95Q/3y5fUNCPttoR/pFVQdkd8k8qaJ8PjUKT4dHo9fwOKpPtaF45cLL0SjuaGveTzy
7iQMB2dE8/FbE6gpXpVE/ZJ3KtHlU7w/KSj9RW9aAsYLX6xU8jNfvQRIP66e9ONRasIFe6P7bzkZ
wz17adyY6F49rkuPAqGm0NfgPpoXeTcP2I27yGheuLkNP6/xX3gMnidv5uG8BSQ5iAjkrwk9idgD
EQX/hRUSPCactWJ4rwEsimXv5fN4EORo2L/x+weWtAlrR9etE9RqciAPMpWaWZbDm9fAP2SXX788
PTYhTpu+cWd5dt5NN6WrklSG9J1HKc6fGgNBOg/5elbk6eHHJyxFQIDfn6QupCPFIHJWEvw4CW5O
B2fjeza2l8mhJlfey8+SOAK+xEKPRHnb1TxlcZ6v93nniqvksXNtTdeqt67vlstsyZU84KsczNbN
rV54enli//wy8Cn78cB97du5ZyYeBHPoz8lzsTryfjLuWWev2kveL0Ae8abN4BvBnnxb/h4BOFDd
Dk9Ul9ryeR/AIV6+DZ6zsdvBRhv7JKhie8BG/A92+//v+hzpmdB/6Z+QntGRGqnRlAQ0uqj3gyhx
LizW6su2klIa+tVr9NA/Bav4ouW3Nl2XXTjr0aFHz59/9LGxOyUjB28aEfOhlg+W8/4ik6yuyK9s
/BAUf/TRIdVfFJLlq8TK1xhCu87QT7CdLqP0SPaQdvV7J/l2Bqjzct2RNMYj0jP/L2Vr/2UbDYbj
2/tblOoj86zltgQ+AOKEwZ4WB+i4ziTuKpuzUyGvgJ8n5/352afGrlu47qA+PVXJy777VBA8uNXT
cXVvD/HH0U7hQ/gBZPIGvABAgU+akXYBXFhgLALwK+9jguAj0LwK2nl8cZswHb4dTE+3gP8V3WfQ
HVQQObgxdCvdCj8jutSsMquM6DL7jHTrVid7m+NKeBKeHHuHtuILiwp1behW9N1n2EPkG30i4DPG
GmNFINYITwZfA0Xs61DFZgMTewZ8M5QCdoDdKRk0u5O9mibv7voU9oM4LJM4p0PyN59y/duXlNdf
0l98d6gb/pMeIe8XQ+yLNIgahXOI59Twn9+5n2yVbj4kEQAoBu/SI+c/hyA5xc3WWpIkWTz6Duy7
b6eup4fAW0gu/SSujNUI8Es9rPjlXRZftp+88oBIKB/5DHTAhXxd5IVpAXmVF37Mx+/LttBDC0rM
VR6PSV+Qm1LS21dlbXZbU/UFgZTKluApoLXZEpwM1DPxkjhlnCZe6i8C5eAtkDgrzc947MVJ/pIy
EADV8ywub5req+krq+x1ZTqsiV5110sKY5yLoQ1CvUgrlAv4Df7sagBSjDlMdnrabE9hBacjt4Xm
oi3uIvEHQ/g+VhMTqyFpEs4192VDtB/smYN3Zcp4s9Ym9xpzLAlSfTxyC+XxhlSPmR5NkepctzSz
m5pvrMhQmxQJ2dc1g12N7YNJaZy/eiX1K3gNeJ4yUiXk7XGIWAIiZ1gkkBgYEJn8yYAjIveAWPgH
Bv0AV+m87SKVVCOOEybzyjMKs+N9veqMOKuArxfpFLESkzde5+nQZuqtlZY0X3x8dp86Q5fB56mF
KrFSphKaPOA5TT+EDC3lKaGlVT0glWhpqOCJeXT6ds0CuSzW4shQL5RI0bdivpAWQIgfw6QOUFnw
FmgnfgHjjTUziJcRs5h9KPT3GQNQFTjxp2aQzL5RnJTz6KlG9itgLoSJa1KPmXcq1puPpW7DeoeS
wiNwDZfjcQJfWiw/lq9D0+HdLB+cZzNRpBA8D/l9P6b+4HgP/nNLKkezu6LnqdEcX5ovDaB596JJ
fPAamwWCwTFkTNb8kPqj4+/034PPp+J5T4Zeg0fpBCTzao67kaamka8qYGjM5P4APPqR5cOPLI8/
JpJBkeyRx5U8WiwGa5Byvgfcy3aB2UpTQhz7BPuYUZkcfs8hrht8g2I3nG9N5953MeGzMNM9xQ5e
mPSM9tkZHmqf9Pj2/075hHukfvEVeXbeMMPT8/iHGZ6gf3qbc9vUT9GDg/h57f8HUxZpX3jarZPB
btNAEIZ/x26rUqhaCVWip63EMd0kTqI2jYRI2gYqVWrU5ILExYm3iYkdp/amIbwCF7hw4gEoEs/A
K3Diwhtw5AVgdrO0AdEDCK+8/nZ2d/5ZzyyATesBLMyeNt4btrBmbRnOYNF6aNjGlvXSsIMN64vh
BZQyTw0vYiPz0fASynbd8DJW7FeGV3DP/mR4FfedkuE13HJiw+u447whRctZptE7ra7YAsN3wxnc
tlzDNurWI8MOstYHwwvoW98MLyKbeW14Cc8ynw0vY8N+bngFrv3W8Coe218Nr+Gu88TwOjadF9hH
jBGmSBCghz4kRXZJbwEV7GIHWcMV6q+5qNlFnppLVINPfjoQxC3ylpIfgYi+DEcYokuzCemo3tNz
PjjNqZ0hNYbTK/1UjwR9Ba2+MGuxH4+mSdDrS3bJCpXdnSz1lYLui1nm5vMuq/lxR7DWNJUiStnR
sBsnozjxpPA5Y7UwZKdqf8pORSqSC7ICDYxJcqzDUqFLEmM4vgoGjbEcJx5rSZ8dq92g80haHNKS
Lg2kFwb0LVCI6ldUUKUjHaCOQ6J57zPf23O+T+iHKTfntEKQC553K9XaQf2wOhMlzW2tedIJg/Ox
wN/5u8nJCd2Rhs7kdchNcsd0NmdWZa/q2kh0TmdWTnkvkj0i+QHZYxI9I6sS7eg1JXoLKFPllEmo
3WCzQzVbLJ8nzLvV/TgRysqLxWrkDUQsz3gYdAq8xAvl3fJ/OuOvaQ10TSlSp+npsdTVJXS6pV7n
64r1iAdki+lkjNLoaaGEuE11PdJ1mdWlwinR/KpAgpR5LBG9gIovET6TieeLyEsGLD5jdW8sEtae
jkSaZS1eo21N7Tk0tT6kplTQ9MZUpmI4FDRQB5akuYcctYluXEc6u2tc36uI5qSJDX0pR3u53GQy
4Z66DbwbRzlJwv/iLUfxqf+lqp3r/RHRzRq5UPS8kPdlFP75Zs3dJswllf2eVp1M9jObPwB6Rhla
AAB42m3NZXDXBQAG4Oc3BttASkSkW1BAt//cZKjAGKCUlEqrQwb8lZEbqEgo3ShdKo16KjU6DEIl
1KNVQkAapdSPY+z2kffuvefLe/eKIPv/nGYJuV+ycxqIkE+k/AqIEi1GQYU8oLAiiiqmuAeV8JCS
HlbKI0oro6xyyqugokoqq6Kqaqp7VA01PeZxtdRWxxOeFCsu5zveUxIkelpdSep5xrOeU18DDSVr
JEVjTTT1vBc001wLLbXyotbaaKud9l7ysld00FEnnXXRVTeves3rUoMIS402xnazXTLWVJMs8pll
QT4T/WaUGW65bYo5xvveKTd97HP/uuM/S3zpR3t9pbs3TNfDPml+8JOf7XfAQZf1dMgvfvW1Xm74
0FGHHdHbVddN8Kawt6Tro69P9TNAfwMNkinDYENc8bZ3vWOoYd6zyWIjDDfS+6752xbHnHXOamuc
95etLrhoheP+DCL97g8nnXHC6SB/UMACa62zwUa7rJdltw98Z5wv7LHDTtuCqCDaZJ8EMeZaZb55
/gkKBoUs95GFVppmplk2+8a3UZl9w7GxybF5Ns41lJKUa3xyno1SIptkDuwXk9ozHE6MC9VNikkb
lBFOT81I63FvEArFJeSZdBeEypGiAAAAAAH//wACeNody0EOgCAMRNEPmoAbDuW9NHJX8BRo/NJm
0jeLEoBidv6JZBYSwZttG4c+uXSl6e5GboZ+ePU6//gA5SEJGHjajZPPK0RRFMe/575nZkjijRma
JkmysLDQJAtZSKIUvbCUF43UNMTMipC/QP4Cf4Slhb9Csabe2t6P7z33UmNMWcw995zzOd977nl3
IAB6UMEVpJY06sjRk43NeBQl4PMTXcwLDEK7oy8IkEmSWgMT1eNkF1O1g/0EFV3nDo/36lg4aR6d
YJl1RmtdvfUCqljPrU45w/OKGMEEZjCPJWxhG1XUfd0Oa6y9IgdWXOMBqfTLrNOQdW93XF6O5Ebu
5NH4c03J5Y3nza2P37ObIu/6glM00EQNZ/oTxgYwiAKz45jGImLG+jUe4AnPeOPeRmxfIakyuUl/
z6zm8nrfCOmPZ1fLB1QuYczTuT/pds6pDrZwQ//kCh254i894V60pxDvzKxqfKUl/sH4mo8HOsGy
zgKqLJzWdwd2DbgOa707t9szRu9Z1r7+IuIWwrDzcdXrpGL9gY5k3EYaEtm2755t++pVavbyXa6z
IsNbvnICEZXyukt1F/L1Rjrbc9IR52htSnuhfkFtSms1+nDpqUtP2X9TnifbrzGic3ZcTrm82vTn
DRmeZny/xnb5BeIwSR0AAAB42qWUO0xTURjH/70tfdnyEKz4gMkBEqMDMQTCaIwkDD7wgbI4uIBx
MC6sPpmcHJuoRFGJwDUiaTQpMTQGF2PCchM6sbh0cXPR4++cFouIpkB/+e69557T//l/37nnKCQp
qXYdVujalZvXFVeENzJGtic0evWGfadyiz6Pu8c/vtCad2OjymhQD/RYU/LVoAnzWU+JZ8Sk+arn
3KfMW70ipnmeQW/WfGdsWHO0c0SeWGJsvQZQnDABCgEKAQoBCgEKAQoBCgEK0izhM/+8KaAQ8DRp
lhmxTGsZvVVc5pgxTyukFVPiWnTXqLrVo171aUVFeXUdNovww0gj3tvJ3Dclk/0dvrb/a4Ed/EzB
jJiRmkauEoG94znYkWe5CoyZsRoHd6wLm7GoWZYVjlPrlsrbzWcpbf68FZ/lqHi281b7so5vdgUr
z/76/r8y3mLN1hyjO27GN3piFXy3HgXuq//Wpr+wzTXK/unZ6pTDOuMbKP2vqrXna7PYMG+lztVr
eadU8sm68GutX1V3XcPjy+kET0chrC6I6BjYvdutGPu3Rwn2cK92sY/7lFY/hHQO6jQEcV2CpIYh
pUeQ1gKk9AFSWoSwPkGaU6DIyfNDP1HwdIRzoAHdRjigJkipDfZzOrTroA5B0vkIOR9h56PO+Yjp
OOzWCWjWSWhxzhKcawPao1OQ1mmo1xnI6Cy0cX4OMqd1v1fnoVUXoFEXYZ/Lx3P5RHQZmlxWUd3S
OE5sbjE9gYQm9ILZX0Izp/E0s8/oNfO+gXrNKceM7yCj98qjbCsSdRWJ6iNktAStri4xV5e4q0uC
XG3mnaxHF+uwdoL243gIX8N4ua07uqt7uo+fBRQX0Sjaf/8C9/o/CAAAAAEAAAAIAAAABAAOAAJp
ZGVvcm9tbgABbGF0bgAIAAYAAAAAAAEAAgAIAAwAAf9WAAEAAHjaY2BgYGQAgpOd+YYgeqfy4zIY
DQBB3QZeAAA=) format('woff'), url('FuturaStd-LightOblique.ttf')  format('truetype'), url('FuturaStd-LightOblique.svg#FuturaStd-LightOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}


