
@font-face {
  font-family: 'FuturaStd-Bold';
  src: url('FuturaStd-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-t-book';
  src: url('FuturaStd-Book.otf');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'FuturaStd-Light';
  src: url('FuturaStd-Light.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FuturaStd-Heavy';
  src: url('FuturaStd-Heavy.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FuturaStd-ExtraBold';
  src: url('FuturaStd-ExtraBold.otf');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'FuturaStd-CondensedLightObl';
  src: url('FuturaStd-CondensedLightObl.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FuturaStd-Condensed';
  src: url('FuturaStd-Condensed.otf');
  font-weight: normal;
  font-style: normal;
}



